* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#result-container{
    text-align: center;
}


#score{
    padding: 10px;
    color: violet;
    font-size: 25px;
}


body {
    color: #ffffff;
    min-height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers vertically */
    background-color: #252424;
    align-items: center;   /* <-- This centers horizontally */
}

.hidden{
    display: none !important;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    background-color: black;
    align-items: center;
}

#question-text{
    padding-bottom: 10px;
}
#question-container{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-btn{
    color: #ffff;
    background-color: black;
    /* transform: translate3d(0,0,0); */
    border: 1px solid #ffffff;
}
#question-text{
    /* background-color: aqua; */
    padding: 5px;
    text-align: center;
}
ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    padding-bottom: 20px;
    width: 50%;
}
li{
    text-align: center; 
    padding: 2px;
    transition: transform 0.3s ease;
    border: 1px solid #ffff;
    margin: 5px;
    width: 100px;

    list-style-type: none;
}

li:hover{
    transform: scale(1.1);
}

button{
    background-color: #252424;
    color: #ffffff;
    padding: 5px;
    transition: transform 0.3s ease;
}

button:hover{
transform: scale(1.1);
}
.container>h1{

color: blueviolet;
border-radius: 5px;
padding: 10px;
/* margin-bottom: 20px; */
}
