* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #ffffff;
    min-height: 100vh; /* <-- Better than height: 100% */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers vertically */
    align-items: center;   /* <-- This centers horizontally */
}
.hidden{
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: #252424;
    align-items: center;
}

li{
    text-align: center; 
    ;
}
.container>h1{
color: blueviolet;
border-radius: 5px;
padding: 10px;
margin-bottom: 20px;
background-color: rgba(255, 255, 255, 0.499);
}